<%- include('partials/header'); -%> 

<form action="/" method="POST">
    <label>Enter City: </label>
    <input type="text" name="cityName">
    <input type="submit">
</form>

<%- include('partials/footer'); -%> 